<a href="https://colab.research.google.com/github/Deepak-18449/29june_regex/blob/main/class_asi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a class Car with attributes make, model, and year. Implement a method that prints the car&#39;s
# description
class car:
    def __init__(self,name,model,color):
        self.name=name
        self.model=model
        self.color=color

In [ ]:
obj=car("audi","a4","black")
obj.name
obj.model
print("car detiles")
print("name =",obj.name)
print("model =",obj.model)
print("color =",obj.color)

car detiles
name = audi
model = a4
color = black

In [ ]:
# Define a class Rectangle with attributes width and height. Add methods to calculate and return the
# area and perimeter of the rectangle.
class shape:
    def __init__(self,width,height):
        self.width=width
        self.height=height

In [ ]:
obj=shape(10,20)
print("area of rectangle",obj.width*obj.height)

area of rectangle 200

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

In [ ]:
obj=person("deepak",21)
print("happy birthday")
print(obj.name)
print(obj.age+1)

happy birthday
deepak
22

In [ ]:
class bank:
  def __init__(self,deposit,withdraw,blance):
    self.deposit=deposit
    self.withdraw=withdraw
    self.blance=blance

In [ ]:
obj=bank(200000,10000,190000)
print(obj.deposit)
print(obj.withdraw)
if(obj.blance>=0):
  print(obj.blance)

200000
10000
190000

In [ ]:
class circle:
  def __init__ (self,radius):
    self.radius=radius
  def area(self):
    return 314*self.radius**2
  def circumference(self):
    return 2*3.14*self.radius

In [ ]:
obj=circle(15)
print(obj.area())
print(obj.circumference())

70650
94.2

In [ ]:
class animal:
  def __init__(self,dog,cat):
    self.__dog=dog
    self.__cat=cat
  def dispal(self):
    return self.__dog
  def dispal1(self):
    return self.__cat

In [ ]:
obj=animal("tommy","tom")
print(obj.dispal())
print(obj.dispal1())

tommy
tom

In [ ]:
class Num:
  def __init__(self,name,grade,eng,hin,maths,average):
    self.name=name
    self.eng  = eng
    self.hin = hin
    self.maths = maths
    self.grade=grade
    self.average=average
  def gra(self):
    self.grade = self.eng + self.hin + self.maths
    print(self.grade)
    self.average = self.grade/3
    print(self.average)

a = Num("dEEEPAK",0,45,56,65,0)
a.gra()

166
55.333333333333336

In [ ]:
class book:
  def __init__(self,title,author,page):
    self.title=title
    self.author=author
    self.page=page

In [ ]:
obj=book("halfgf","tom",400)
print("book detiles")
print(obj.title)
print(obj.author)
print(obj.page)

book detiles
halfgf
tom
400

In [ ]:
class employee:
  def __init__(self,name,salary,position):
    self.name=name
    self.salary=salary
    self.position=position

In [ ]:
obj=employee("deepak",20000,"manager")
print(obj.name)
print(obj.salary)
print(obj.position)

deepak
20000
manager

In [ ]:
class shape:
  def __init__(self,triangle,square,height,width):
    self.height=height
    self.width=width
    self.triangle=triangle
    self.square=square
  def squ(self):
    return self.square**2
  def tir(self):
    return self.triangle*self.height * self.width /2

In [ ]:
obj=shape(10,20,30,40)
print(obj.squ())
print(obj.tir())

400
6000.0

In [ ]:
class movie:
  def __init__(self,title,director,rating):
    self.title=title
    self.director=director
    self.rating=rating
  def rat(self):
    return self.rating

In [ ]:
obj=movie('kgf','yash',6)
print("movie detiles")
print(obj.title)
print(obj.director)
print(obj.rat())

movie detiles
kgf
yash
6

In [ ]:
class contact:
  def __init__(self,name,phone,email):
    self.name=name
    self.phone=phone
    self.email=email
  def pho(self):
    return self.phone
  def ema(self):
    return self.email

In [ ]:
obj=contact('deepak',8764178270,'deepak@123')
print(obj.name)
print(obj.pho())
print(obj.ema())

deepak
8764178270
deepak@123